export(append_table)
export(check_file_exists)
export(corr_ci_autocorr)
export(fitfreq)
export(lm_sim)
export(multicol_sim)
export(plot_groups_pdf)
export(save_plot)
export(WF.sel)
importFrom(ggplot2,ggsave)
importFrom(stats,rbinom)
importFrom(utils,write.table)
